@model Inmobiliaria.Models.Alquiler

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar Alquiler</h1>

<h3>¿Estás seguro que quieres eliminar esto?</h3>
<div>
    <h4>Alquiler</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdAlquiler)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdAlquiler)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Precio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Precio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaInicio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaInicio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaFin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaFin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdInquilino)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Inqui.Nombre)@Html.DisplayFor(model => model.Inqui.Apellido)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdInmueble)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Inmu.Direccion)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Volver a la lista de alquileres</a>
    </form>
</div>
